html,
body {
    height: 93.22vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
    font-family: 'Nunito', sans-serif;
}

html{
    display: flex;
    align-items: flex-end;
}

body{
    height: 93.22vh;
    justify-content: end; 
 }

.cabecera {
    height: 14%;
    display: flex;
}

.logo {
    height: 100%;
    width: 128.1px;
    background-color: rgb(24, 24, 126);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoCamino {
    height: 100%;
}

.menuppal {
    background-color: rgba(155, 208, 255, 0.6);
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
}

.menuppal ul {
    margin: 0;
    padding: 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuppal ul li {
    width: 150px;
    list-style: none;
    text-align: center;
    font-size: 1.8rem;
    text-transform: none;
    font-weight: bold;
    margin: 3px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #4682b4;
}



.menuppal ul li a {
    text-decoration: none;
    color: rgb(4, 4, 86);
}

.menuppal ul li a:hover {
    text-decoration: none;
    color: #333;
}

.logo2{
    display: none;
}

.contenedorMapa {
    width: 100vw;
    height: 76vh;
    background-color: rgba(155, 208, 255, 0.6);    
}



#map {
    width: 100vw;
    height: 100%;
}

.coordinatedImagePreviewControlButton {
    display: none;
}

.leaflet-bottom {
    bottom:70px;
}

.leaflet-control-layers-expanded {
    height: 150px;
    overflow: auto;
}

.leaflet-left .leaflet-control-layers-expanded {
    height: 60px;
    width: 70px;
    bottom: 10px;
}

.leaflet-control-layers-list {
    font-size: 0.9rem;
}

.leaflet-right .leaflet-control-layers-toggle {
    background-image: url(../img/icon/caminantes2.png);
}

.steelblue-theme.leaflet-control.elevation .background {
    background-color: rgba(155, 208, 255, 0.6);
    border-radius: 8px;
    margin-right: -10px;
}

.elevation-summary {
    color: rgb(1, 1, 62);
    font-size: 1.5rem;
    background-color: rgba(155, 208, 255, 0.6);
    border-radius: 8px;
    margin-right: -10px;
}

.totlen {
    margin-left: 10px;
}

.maxele {
    margin-left: 10px;
}


@media (min-width: 850px) {
    .menuppal ul {
        margin: 0;
        padding: 0;
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .menuppal ul li {
        display: flex;
        justify-content: center;
        align-items: center;        
    } 
    
    .logo2{
        display: block;
    }
}

